* {
    font-family: Dancing Script, cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/background.jpg");
    background-size: contain;
}

header {
    width: 100%;
    background-color:rgb(237, 161, 174);
    height: 4rem;
    position: fixed;
    z-index: 1;
}

header > div {
    display: flex;
    flex-direction: row;
}

header > div > #logo {
    width: 7em;
}

header > div > #page_nav > a {
    text-decoration: none;
}

header > div > #socials > a > img {
    width: 2rem;
}

section#group {
    position: relative;
    top: 90px;
    margin-bottom: 100px;
}

#group_img {
    transition: 0.5s;
    background-color: rgb(237, 161, 174);
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 40px;
}

#group_img:hover {
    transition: 0.5s;
    width: 65%;
}

#group_desc {
    color: rgb(141, 79, 89);
    max-width: 40rem;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
}

h2 {
    font-size: 250%;
    color: rgb(191, 64, 109);
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    display: block;
    margin: auto;
}

section#group > h2 {
    margin-top: 20px;
}

hr {
    border: 1px solid rgb(198, 141, 150);
}

#members_title {
    margin: 40px 0 40px 0;
}

section#members {
    background-color: rgb(251, 216, 221);
    border: 1px solid rgb(237, 163, 175);
    position: relative;
    margin: auto;
    position: sticky;
    top: 64px;
    padding-bottom: 15px;
    z-index: 3;
}


#nav_memb {
    color: rgb(161, 94, 105);
    text-align: center;
}

#nav_memb > a {
    transition: 0.5s;
    color: rgb(157, 102, 111);
    text-decoration: none;
    font-size: 80%;
    padding: 1%;
}

#nav_memb > a:hover {
    transition: 0.5s;
    color: teal;
}

.vl {
    display: inline-block;
    background-color: rgb(203, 161, 168);
    margin-left: 0.5rem;
    position: relative;
    top: 10px;
    height: 30px;
    width: 0.5px;
}

section#memb_showcase {
    z-index: -2;
    margin-top: 8%;
}

section#memb_showcase > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

section#memb_showcase > div > img {
    border: 15px solid white;
    border-radius: 5%;
    display: inline-block;
    width: 25%;
    transition: 0.5s;
}

section#memb_showcase > div > img:hover {
    transition: 0.5s;
    width: 26%;
}

section#memb_showcase > div.left > img {
    margin: 0 10% 0 20%;
    transform: rotate(7deg);
}

section#memb_showcase > div.right > img {
    transform: rotate(-7deg);
}

section#memb_showcase > div.right > #text {
    margin: 0 10% 0 25%;
}

section#memb_showcase > div > #text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7em;
}

section#memb_showcase > div > #text > h4  {
    font-size: 200%;
    color: rgb(95, 126, 126);
    font-family: Arial, sans-serif;
    display: inline-block;
    margin-bottom: 2rem;
}

section#memb_showcase > div > #text > h4 > span {
    color: rgb(242, 86, 112);
    font-family: Arial, sans-serif;
    position: relative;
    top: 13px;
    font-size: 150%;
}

section#memb_showcase > div > #text > p {
    color: rgb(43, 66, 66);
    font-family: Arial, sans-serif;
}

section#memb_showcase > div > #text > p > span {
    color: rgb(141, 79, 89);
    margin-left: 20px;;
}

section#albums {
    margin-top: 40px;
    margin-bottom: 70px;
}

#album_img {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#album_img > a {
    display: inline-block;
}


#album_img > a > img {
    transition: 0.5s;
    width: 15rem;
    margin: 0 5px 0 5px;
}

#album_img > a > img:hover {
    transition: 0.5s;
    transform: scale(1.05);
    filter: brightness(50%);
}

section#top_songs {

}

section#top_songs > h2 {
    margin-bottom: 40px;
}

section#top_songs > .top_songs {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#top_songs > .top_songs > iframe {
    margin: 0 10px 0 10px;
    transition: 0.5s;
}

section#top_songs > .top_songs > iframe:hover {
    transition: 0.5s;
    transform: scale(1.05);
}